# 忽略VS的输出文件
/out
# 忽略VS打开的配置文件
/.vs
/cmake-build-debug
/cmake-build-release
/SFMLUI/html
/SFMLUI/latex
SFMLUI/custom.css
SFMLUI/Doxyfile
/sfml_ui/html
/sfml_ui/latex
sfml_ui/custom.css
sfml_ui/Doxyfile
*.obj